<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class = nav-bar>
        <nav class = nav-bar-elements>
            <a href="/">Homepage</a>
            <a href="/looping">Looping</a>
            <a href="/add-book">Add Book</a>
            <a href="/books">Books</a>
        </nav>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  <h1>{{ message }}</h1>
              </div>
          {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>