:root {
    --black: #000000ff;
    --alabaster: #f1f2ebff;
    --timberwolf: #d8dad3ff;
    --dark-red: #95190cff;
    --green-pantone: #00af54ff;
}

body {
    background-color: var(--timberwolf);
}

.alert {
    display: flex;
    border-radius: 5px;
    border: 2px solid black;
    justify-content: center;
}

.alert-info {
    background-color: skyblue;
}

.alert-success {
    background-color: var(--green-pantone);
}

.alert-danger{
    background-color: var(--dark-red);
}

.nav-bar {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: var(--black);
    color: white;
    justify-content: space-around;
    align-items: center;
    
}

.nav-bar-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    width: 50%;
}

.nav-bar-elements a {
    text-decoration: none;
    color: var(--timberwolf);
    font-size: 20px;
    position: relative;
}

.nav-bar-elements a:hover {
    font-size: 25px;
    color: grey;
}
